<figure class="card">
    <div class="card_title-box">
        <h3 class="card_title">{%PRODUCT__TITLE%}</h3>
    </div>
    <div class="card_details">
        <div class="card_detail-box">
            <p class="card_detail card_detail--organic">{%PRODUCT__BODY%}</p>
    </div>
    <!-- <div class="card_detail-box">
        <h6 class="card_detail"></h6>
      </div>
        
      <div class="card_detail-box">
        <h6 class="card_detail card_detail--price"></h6>
      </div>-->
</div>
<a class="card__link" href="#">
    <span>Detail <i class="emoji-right"></i></span>
  </a>
</figure>